body {
  text-align: center;
  font-family: Arial;
  background: #f4f4f4;
}

.hp-bar {
  width: 80%;
  height: 30px;
  background: #ccc;
  margin: 10px auto;
}

.player {
  height: 100%;
  width: 100%;
  background: green;
}

.monster {
  height: 100%;
  width: 100%;
  background: red;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}
