body {
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.monster {
  font-size: 100px;
}

.hp-bar {
  width: 300px;
  height: 20px;
  background: red;
  margin: 10px auto;
}

.hp {
  height: 100%;
  background: lime;
}